<ion-tabs>
  <ion-tab-bar slot="bottom" class="main-tab-bar">
    <ion-tab-button tab="my-card" href="/tabs/my-card">
      <ion-icon name="id-card-outline"></ion-icon>
      <ion-label>{{ 'tabs.myCard' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="collection" href="/tabs/collection">
      <ion-icon name="grid-outline"></ion-icon>
      <ion-label>{{ 'tabs.collection' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="explore" href="/tabs/explore">
      <ion-icon name="compass-outline"></ion-icon>
      <ion-label>{{ 'tabs.explore' | translate }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
